@font-face {
  font-family: "alwyn-new-web";
  src:
    url("../fonts/AlwynNew-Rg-webfont.woff2") format("woff2"),
    url("../fonts/AlwynNew-Rg-webfont.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "alwyn-new-web";
  src:
    url("../fonts/AlwynNewRd-RgIt-webfont.woff2") format("woff2"),
    url("../fonts/AlwynNewRd-RgIt-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "alwyn-new-web";
  src:
    url("../fonts/AlwynNew-Md-webfont.woff2") format("woff2"),
    url("../fonts/AlwynNew-Md-webfont.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "alwyn-new-web";
  src:
    url("../fonts/AlwynNewRd-MdIt-webfont.woff2") format("woff2"),
    url("../fonts/AlwynNewRd-MdIt-webfont.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "alwyn-new-web";
  src:
    url("../fonts/AlwynNew-Bd-webfont.woff2") format("woff2"),
    url("../fonts/AlwynNew-Bd-webfont.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "alwyn-new-web";
  src:
    url("../fonts/AlwynNew-BdIt-webfont.woff2") format("woff2"),
    url("../fonts/AlwynNew-BdIt-webfont.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "alwyn-new-rounded-web";
  src:
    url("../fonts/AlwynNewRd-Bd-webfont.woff2") format("woff2"),
    url("../fonts/AlwynNewRd-Bd-webfont.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "alwyn-new-rounded-web";
  src:
    url("../fonts/AlwynNewRd-BdIt-webfont.woff2") format("woff2"),
    url("../fonts/AlwynNewRd-BdIt-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "alwyn-new-rounded-web";
  src:
    url("../fonts/AlwynNewRd-Md-webfont.woff2") format("woff2"),
    url("../fonts/AlwynNewRd-Md-webfont.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "alwyn-new-rounded-web";
  src:
    url("../fonts/AlwynNewRd-MdIt-webfont.woff2") format("woff2"),
    url("../fonts/AlwynNewRd-MdIt-webfont.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
